# Production bundles and builds
dist/
dist-ssr/
build/
out/
coverage/
.nyc_output/

# Dependencies
node_modules/

# Lockfiles and packages
package-lock.json
yarn.lock
pnpm-lock.yaml

# Configuration caches
.cache/
.parcel-cache/
.turbo/

# Environmental secrets
.env
.env.*
.env.sample

# System & IDE files
.DS_Store
Thumbs.db
.vscode/
.idea/
